body {
  background-color: black;
  color: white;
}

canvas {
  border: 1px solid white;
}

#canvas-with-config {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: 25px;
}

#config {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}
